.booking {
  display: flex;
  height: 90vh;
  margin-top: 15vh;
}

.booking-con {
  height: 60vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
}

.booking-card-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 315px;
  text-align: left;
}

.booking-sub-desc {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-weight: bold;
  font-size: 16px;
  max-width: 310px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
}

.booking-host-name {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-weight: bold;
  font-size: 40px;
  max-width: 310px;
  font-family:'Quicksand';
}

.booking-card-2{
  width: 80vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.booking-box{
  width: 80vw;
  max-width: 400px;
  background: white;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.book-date {
  font-weight: 400;
  font-size: 18px;
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 0.5px solid #d4d4d4;
  border: none;
}

.book-date > span {
  font-size: 16px;
}
  
.book-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 14px;
}
  
.book{
  width: 50vw;
  max-width: 300px;
  height: 50px;
  background: #0AE7B2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius:  0 0 10px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
}

.book-title {
  font-weight: bold;
  font-size: 18px;
}

.booking-con-com {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  /* flex-wrap: wrap; */
}

.booking-card-1-com{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  text-align: left;
  margin: auto;
}

.video-con {
 display: flex; 
 flex-direction: column;
 

}

video#myVideo, video#userVideo{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.booking-card-2-com{
  width: 80vw;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: auto;
}

.booking-box-com{
  /* width: 80vw;
  max-width: 400px; */
  background: white;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.book-com{
  width: 75vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto
 
}

textarea{
  width: 75vw;
  border-radius:  0 0 10px 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;

}

.msg {
  display: flex;
  flex-direction: column;
  background: #eae9e9;
    width: 76vw;
    margin: auto;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px auto;
}
.msg-sender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75vw;
  margin: 0 auto;
}

.msg-it {
  width: 75vw;
  margin: 0 auto;
  text-align: left;
}

/* #videoContainer {
  display: flex;
  justify-content: center;
} */



.true{
  display: none;
  height: 0px;
  width: 0px;
}
  
.hayir{
  display: none;
  height: 0px;
  width: 0px;

}